<div class="last-projects__slider">
  {% set first_image = p.media.images | first %}
    {% for p in page.find('/projekty').children.order('date', 'desc').slice(0, 5) %}
      {% if first_image %}
        <div class="uk-section uk-section-media uk-light uk-background-cover" style="background-image: url({{ first_image.url }})">
            <div class="uk-container">

                <h3><a href="{{p.url}}">{{ p.title }}</a></h3>

                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
        
        {% endif %}
        <div>


            <time datetime="{{ p.date|date('d') }} {{ 'MONTHS_OF_THE_YEAR'|ta(p.date|date('n') - 1) }}">
                <span>{{ p.date|date('d') }}
                    {{ 'MONTHS_OF_THE_YEAR'|ta(p.date|date('n') - 1) }}
                    {{ p.date|date('Y') }}</span>
            </time>
        </div>
    {% endfor %}
</div>
