<div class="sidebar-content recent-posts">
    <h3>Ostatnie projekty</h3>
    {% for p in page.find('/projekty').children.order('date', 'desc').slice(0, 5) %}
        {% set bannerimage = p.media['banner.jpg'] %}
        <div class="recent-post">
            {% if bannerimage %}
                <div class="recent-post-image">{{ bannerimage.cropZoom(60,60).quality(60) }}</div>
            {% else %}
                <div class="recent-post-image"><img src="{{ url('theme://images/logo.png') }}" width="60" height="60"></div>
            {% endif %}
            <div class="recent-post-text">
                <h4><a href="{{p.url}}">{{ p.title }}</a></h4>
                <span class="list-blog-date">
                    <time class="dt-published" datetime="{{ post.date|date('d') }} {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }}">
                        <span>{{ post.date|date('d') }}
                        {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }}
                        {{ post.date|date('Y') }}</span>
                    </time>
                </span>
            </div>
        </div>
    {% endfor %}
</div>
