{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/main.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
  <nav class="uk-navbar-container navigation--desktop uk-box-shadow-small uk-visible@s" style="z-index: 980;"  uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom" uk-navbar>

      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li><a href="{{ base_url == '' ? '/' : base_url }}"><h3 class="uk-margin-remove-bottom">{{ config.site.title }}<span class="site__subtitle"> <em>{{ config.site.subtitle }}</em></span></h3></a></li>
          </ul>
      </div>

      <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}
          </ul>
      </div>

  </nav>

  <nav class="uk-navbar uk-navbar-container uk-box-shadow-small navigation--mobile uk-hidden@s" style="z-index: 980;"  uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom">
      <div class="uk-navbar-left">
          <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
              <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
          </a>
      </div>
  </nav>

  <div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <div class="uk-flex uk-flex-center uk-flex-middle nav__container">
            <ul class="uk-nav-primary uk-nav-center uk-nav-parent-icon" uk-nav>
                <li class="uk-nav-header">Menu</li>
                <li class="uk-nav-divider"></li>
                {% include 'partials/navigation.html.twig' %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <section id="body">
      {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
  {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
