<div class="list-item h-entry">

    <div class="list-blog-padding">

        {% if page.header.continue_link is sameas(false) %}
            <div class="e-content">
                {{ page.content }}
            </div>
            {% if not truncate %}
                {% set show_prev_next = true %}
            {% endif %}
        {% elseif truncate and page.summary != page.content %}
            <div class="p-summary e-content">
                {{ page.summary }}
                <p>
                    <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
                </p>
            </div>
        {% elseif truncate %}
            <div class="p-summary e-content">
                {{ page.content }}
                <p>
                    <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
                </p>
            </div>
        {% else %}
            <article class="uk-article uk-animation-fade">
                {{ page.content }}
            </article>

            {% if config.plugins.comments.enabled %}
                {% include 'partials/comments.html.twig' %}
            {% endif %}

            {% set show_prev_next = true %}
        {% endif %}

        <h3 class="uk-heading-line uk-text-center">
            <span>Wszystkie powiązane zdjęcia</span>
        </h3>
        <div class="uk-child-width-1-2@s uk-text-center uk-margin-medium" uk-grid uk-lightbox>
        {% for image in page.media.images %}
        <a class="uk-link-muted uk-text-center" href="{{ image.url }}" type="image">
        <div
            class="uk-background-cover uk-box-shadow-small uk-box-shadow-hover-large uk-height-medium uk-card"
            style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.1) 40%,
  rgba(0, 0, 0, 0.9)
), url({{ image.url }});">



            </div>
            </a>
        {% endfor %}
        </div>


        {% if show_prev_next %}
            <hr>
            <div class="uk-grid-small uk-child-width-expand uk-text-center uk-margin-medium-top uk-grid-divider" uk-grid>
                <div>
                    {% if not page.isLast %}
                        <a class="uk-button uk-button-text" href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }}</a>
                    {% endif %}
                </div>
                <div>
                    {% if not page.isFirst %}
                        <a class="uk-button uk-button-text" href="{{ page.nextSibling.url }}">{{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if config.plugins.relatedpages.enabled and related_pages | length > 0 %}
            <h3 class="uk-heading-line uk-text-center">
                <span>Czytaj Więcej</span>
            </h3>
            {% include 'partials/relatedpages/relatedpages-bottom.html.twig' %}
        {% endif %}

    </div>
</div>
