<div class="list-item h-entry">

    <div class="list-blog-padding">

        {% if page.header.continue_link is sameas(false) %}
            <div class="e-content">
                {{ page.content }}
            </div>
            {% if not truncate %}
                {% set show_prev_next = true %}
            {% endif %}
        {% elseif truncate and page.summary != page.content %}
            <div class="p-summary e-content">
                {{ page.summary }}
                <p>
                    <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
                </p>
            </div>
        {% elseif truncate %}
            <div class="p-summary e-content">
                {{ page.content }}
                <p>
                    <a href="{{ page.url }}">{{ 'BLOG.ITEM.CONTINUE_READING'|t }}</a>
                </p>
            </div>
        {% else %}
            <article class="uk-article uk-animation-fade">
                {{ page.content }}
            </article>

            {% if config.plugins.comments.enabled %}
                {% include 'partials/comments.html.twig' %}
            {% endif %}

            {% set show_prev_next = true %}
        {% endif %}

    </div>
</div>
