{% set footer_image = config.site.footer_background | first %}
{% set collection = page.find('/projekty').children.order('date', 'desc').slice(0, 5) %}

<div class="uk-section uk-section-media uk-light uk-background-cover uk-section-xsmall uk-background-fixed" style="background-image: linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
), url({{ url(footer_image.path) }})">
    <div class="uk-container">
        <p class="uk-heading-line uk-text-center">
            <span>
                <a href="#" uk-totop uk-scroll></a>
            </span>
        </p>
    </div>
</div>

<div class="uk-section uk-section-secondary uk-light uk-box-shadow-small">
    <div class="uk-container">

        <div class="uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
            <div>
                <a class="uk-link-reset" href="{{ base_url == '' ? '/' : base_url }}">
                    <h3 class="uk-margin-remove-bottom">{{ config.site.title }}<br>
                        <span class="site__subtitle">
                            <em>{{ config.site.subtitle }}</em>
                        </span>
                    </h3>
                </a>
                <hr>
                <ul class="uk-nav uk-nav-default">
                    <li>
                        <p class="uk-margin-top">{{ config.details.footer_text.preface }}</p>
                    </li>
                    <li class="uk-heading-bullet uk-margin-bottom">{{ config.details.footer_text.list_header }}</li>
                    <ul class="uk-list uk-list-bullet">
                      {% for item in config.details.footer_text.list_item %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                <li class="uk-margin-top">{{ config.details.footer_text.closure }}</li>
            </ul>
        </div>

        {% if config.plugins.tagcloud.enabled %}
            <div>
                <h3>{{'POPULAR TAGS'|t}}</h3>
                <p>{% include 'partials/tagcloud.html.twig' %}</p>
            </div>
        {% endif %}
        <div>
            <h3>{{'RECENT PROJECTS'|t}}</h3>
            {% for p in collection %}
                {{ dump(p) }}
                <a class="uk-text-uppercase" href="{{ base_url }}{{ p.route }}">
                    <p>
                        <span class="uk-margin-small-right" uk-icon="icon:  chevron-right"></span>
                        {{ p.title }}</p>
                </a>
            {% endfor %}
            <hr>
            <a class="uk-text-uppercase" href="{{ base_url }}/projekty">
                <p>
                    <span class="uk-margin-small-right" uk-icon="icon: chevron-right"></span>
                    Wszystkie Projekty</p>
            </a>
        </div>
        <div>
            <h3>{{'CONTACT'|t}}</h3>
            <ul class="uk-list uk-list-divider">
                <li><span class="uk-margin-small-right" uk-icon="icon: location"></span>
                {{ config.details.contact.city }}</dd></li>
                <li><span class="uk-margin-small-right" uk-icon="icon: home"></span>
                {{ config.details.contact.street }}</li>
                {% for phone, type in config.details.phone %}
                  <li><span class="uk-margin-small-right" uk-icon="icon: phone"></span>
                  {{ type }} - {{ phone }}</li>
                {% endfor %}
                {% for email, type in config.details.email %}
                  <li><span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                  {{ type }} - {{ email }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
</div>

<div class="uk-section uk-section-media uk-light uk-background-cover uk-section-xsmall uk-background-fixed" style="background-image: linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
), url({{ url(footer_image.path) }})">
<div class="uk-container">
    <p class="uk-text-meta uk-margin-small-right uk-text-center uk-heading-line">
        <a class="uk-link-muted" href="{{ base_url == '' ? '/' : base_url }}" target="blank">{{ config.site.title }}
            {{ config.site.subtitle }}
            |
            {{ "now"|date("Y") }}
            &copy;</a>
    </p>
</div>
</div>
