{% embed 'partials/base.html.twig' %}

    {% block content %}

        {% set header_image = page.header.header_image | defined(true) %}
        {% set header_image_file = page.header.header_image_file %}

        {% if header_image %}
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images | first %}
            {% endif %}
            <div
                class="uk-section uk-position-relative uk-section-xlarge uk-section-media uk-light uk-background-cover uk-background-fixed"
                style="background-image: linear-gradient(
  rgba(0, 0, 0, 0.1) 40%,
  rgba(0, 0, 0, 0.9)
), url({{ header_image_media.url }})">
                <div class="uk-container uk-text-center" uk-scrollspy="target: > h1,p; cls:uk-animation-slide-bottom-small; delay: 500">
                    <h1 class="uk-text-capitalize">{{ page.title }}</h1>
                </div>
            </div>

        {% endif %}

        {% if config.plugins.breadcrumbs.enabled %}
            <div class="uk-child-width-expand@s uk-padding-small uk-text-center" uk-grid>
                <div>
                    <div><p class="uk-margin-remove event-location">
                        <span class="uk-margin-small-right" uk-icon="icon: location"></span>
                        <span>{{ page.header.custom.place }}</span>
                    </p></div>
                </div>
                <div>
                    <div><p class="uk-margin-remove">
                            <time datetime="{{ page.header.custom.date|date('d') }} {{ 'MONTHS_OF_THE_YEAR'|ta(page.header.custom.date|date('n') - 1) }}">
                                <span class="uk-margin-small-right" uk-icon="icon: calendar"></span>
                                <span>{{ page.header.custom.date|date('d') }}
                                    {{ 'MONTHS_OF_THE_YEAR'|ta(page.header.custom.date|date('n') - 1) }}
                                    {{ page.header.custom.date|date('Y') }}</span>
                            </time>
                    </p></div>
                </div>
                <div>
                    <div>
                      <p class="uk-margin-remove">
                              <time datetime="{{ page.header.custom.date|date('d') }}">
                                  <span class="uk-margin-small-right" uk-icon="icon: clock"></span>
                                  <span>{{ page.header.custom.date|date('H:i') }}</span>
                              </time>
                      </p>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if config.plugins.readingtime.enabled %}
            {% set background_image = header_image_media.quality(70).smooth(10) %}
            <div
                class="uk-section-default uk-section-xsmall uk-background-fixed section--breadcrumbs uk-section-media uk-dark uk-background-cover"
                style="background-image: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 1)
          ), url({{ background_image.url }})">
                <div class="uk-container uk-flex uk-flex-between uk-container-large">
                    <p class="article__meta-info">
                        <span uk-icon="icon: clock"></span>
                        {{ page.content|readingtime({'minutes_label':'Minut','minute_label':'Minuta', 'seconds_label': 'Sekund', 'second_label': 'Sekunda'}) }}</p>
                </div>
            </div>
        {% endif %}

        <div class="uk-section uk-section-default">
            <div class="uk-container uk-container-small">
                <div class="uk-margin-top uk-grid-divider" uk-grid>
                    <div class="uk-width-1-1">
                        {% include 'partials/event_item.html.twig' with {'blog': page.parent, 'truncate': false} %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endembed %}
