{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
    {% set results_image = config.site.footer_background | first %}
    <div class="uk-section uk-section-secondary">
        <div class="uk-container uk-container-small">
            {% include 'partials/simplesearch_searchbox.html.twig' %}
        </div>
    </div>

    {% if query %}
        {% set count = search_results
            ? search_results.count
            : 0 %}
        <div class="uk-margin-remove {{ (count != 0) ? 'uk-alert-success' : 'uk-alert-warning' }}" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>{{"PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t}}</h3>
            <p>
                {% if count == 0 %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_NONE"|t(query)|raw }}
                {% elseif count == 1 %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query)|raw }}
                {% else %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query, count)|raw }}
                {% endif %}
            {% endif %}
        </p>
    </div>

    <div class="uk-section uk-section-muted uk-preserve-color">
        <div class="uk-container">
            <div class="uk-child-width-1-2@m uk-child-width-1-3@l uk-grid-match" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-small; delay: 500" uk-grid>
                {% for page in search_results %}
                    {% include 'partials/simplesearch_item.html.twig' with {'page': page} %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
