{% set data = flex_entries.getData().toArray() | sort_by_key('item') %}
<div id="flex-directory">

    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-text-lead">
            {{ page.content }}
        </div>
    </div>

    <nav class="uk-navbar-container uk-margin-large-bottom dictinary-search-form uk-navbar-transparent uk-overflow-hidden uk-border-rounded uk-box-shadow-small" uk-navbar>
        <div class="uk-navbar-left">
            <div class="uk-navbar-item">
                <form class="uk-search uk-search-large">
                    <span uk-search-icon></span>
                    <input class="uk-search-input form-input search" type="text" placeholder="Szukaj" id="dictionary-search-input" value=""/>
                </form>
            </div>
        </div>
    </nav>

    <div uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body uk-overflow-hidden uk-border-rounded uk-box-shadow-small" id="dictionary-index">
              <h2 class="uk-card-title uk-margin-remove-bottom uk-text-bold uk-text-uppercase">Indeks Haseł</h2>
              <hr>
              {% for entry in data | sort if entry.published %}
                <p><a class="uk-link-muted" onclick="resetFilters();" href="#{{ entry.item|hyphenize }}" uk-scroll="offset: 50;">{{ entry.item }} <span uk-icon="icon: chevron-right"></span></a></p>
              {% endfor %}
            </div>

        </div>
        <div class="uk-width-expand@m">
            <div class="list" id="dictionary-section">
                {% for entry in data | sort if entry.published %}
                    {% set card_header_image = first_image.smooth(10).quality(70).contrast(50) %}
                    <div class="uk-card uk-card-default uk-margin uk-overflow-hidden uk-border-rounded" uk-scrollspy="cls: uk-animation-fade; repeat: true" id="{{ entry.item|hyphenize }}">
                        <div style="background-image: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.7)
        ), url({{ card_header_image.url }})" class="uk-background-cover uk-card-header uk-dark">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h2 class="uk-card-title uk-margin-remove-bottom item uk-text-bold uk-text-uppercase">{{ entry.item }}</h2>
                                    <p class="uk-text-meta uk-margin-remove-top tags">
                                        {% for tag in entry.tags %}
                                            <a href="#dictionary-section" onclick="filterByTag('{{ tag }}');" uk-scroll="offset: 50;"><span class="uk-label dictionary__tag" id="{{ tag|hyphenize }}">{{ tag }}</span></a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            {% if entry.item_definition %}
                                <p>{{ entry.item_definition }}</p>
                            {% endif %}
                        </div>
                        <div class="uk-card-footer">
                            {% for link in entry.external %}
                                <a href="{{ link.url }}" class="uk-link-muted uk-margin-right" uk-icon="icon: link" target="_blank">
                                    <span class="link_text">{{ link.text }}</span>
                                </a>
                            {% endfor %}
                            <h1 class="uk-heading-line uk-text-center uk-margin-small-top"><span><a href="#dictionary-index" class="uk-link-reset" uk-icon="icon: chevron-up; ratio: 1.5" uk-scroll></a></span></h1>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>

<script>
    var options = {
        valueNames: ['item', 'link_text', 'tags']
    };
    var flexList = new List('flex-directory', options);
</script>
